 
    <div class="uniquePlate123">
        <p class="uniqueCpt456">Plaintiffs:</p>
        <p>Robert Shumake (Shaman Shu) and Soul Tribes International Ministries.</p>

        <p class="uniqueCpt456">Defendants:</p>
        <p>City of Detroit and several individuals including Conrad Mallet, Douglas Baker, James Tate, David Bell, Thomas Gilcrest, James E. White, Detrich Lever, Andrew Guntzviller, Joel Dobis, Baaron Coleman, and Kevin Briggs.</p>

        <p class="uniqueCpt456">Claims:</p>
        <ul>
            <li>Violation of religious rights by the City of Detroit and its officials.</li>
            <li>Unfair targeting and disruption of religious practices involving Sacred Mushrooms.</li>
            <li>Excessive force used during a raid on their church.</li>
            <li>Unlawful seizure of property.</li>
        </ul>

        <p class="uniqueCpt456">Relief Sought:</p>
        <ul>
            <li>Injunctive and declaratory relief.</li>
            <li>Compensatory and punitive damages.</li>
            <li>Attorney's fees.</li>
        </ul>

        <p class="uniqueCpt456">Key Points:</p>
        <ul>
            <li>Religious practices are ancient and scientifically proven to effectuate primary religious/mystical experiences.</li>
            <li>City of Detroit has an unofficial custom of using building and zoning codes to justify unconstitutional and discriminatory activities.</li>
            <li>Defendants' actions have caused severe emotional distress and mental anguish.</li>
        </ul>
    </div> 
