 
  <footer id="contact" class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
               <a style="color:white; text-decoration:none" href="powertotheshroom.com">© 2025 powertotheshroom.com</a>   <p class="mb-0">All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">
                <a href="mailto:info@powertotheshroom.com" class="text-white text-decoration-none">
                    info@powertotheshroom.com |
                </a>
 
                <a href="https://www.soultribes.org" class="text-white text-decoration-none">
                    soultribes.org |
                </a>   

                <a href="https://www.shroomsdetroit.com" class="text-white text-decoration-none">
                    shroomsdetroit.com |
                </a>     

                <a href="https://www.instagram.com/reel/DDfuh3-NBV0/?igsh=eTRiNWZqd202YzZx" class="text-white text-decoration-none">
                    Instagram reel 1|
                </a>   
                
                <a href="https://www.instagram.com/reel/C_DY_GrRpep/?igsh=cHlrbjl5YjNuemdv" class="text-white text-decoration-none">
                    Instagram reel 2 |
                </a>     
 
                <a href="https://www.instagram.com/reel/DDtBPSytRUA/?igsh=dmRhanZvN2Y1MDNu" class="text-white text-decoration-none">
                    Instagram reel 3 |
                </a>   
 
                  
            </div>
        </div>
    </div>
</footer>